### IntelliJ IDEA ###
squad-2-ad-java-e-vue-presencial-ca.iml
.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### VS Code ###
.vscode/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Java ###
*.class
*.log
*.ctxt
*.jar
*.war
*.zip
*.tar.gz
*.rar